*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #141d1e;
    font-family: Arial ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.image-container {
    display: flex;
    max-width: 30%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}

.box {
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60%;
    margin-bottom: auto;
    cursor: pointer;
    padding: 10px 20px;
    background: #1a141e;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.box input {
    width: 250px;
    margin: auto;
    height: 20px;
    outline: none;
    border: none;
    font-size: 18px;
    background: transparent;
}

.box input::placeholder {
    color: #a0a0a0;
}

.box input:focus {
    color: #ffffff;
}

.box .fa {
    fill: #a0a0a0;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: "Open Sans";
    /* background-color: #111; */
    background-color: #1E141D;
    color: #A3A1A5;
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1A141E;
    /* background: #000; */
    width: 100%;
    padding: 20px 0;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0;
}

.footer-content h3{
    font-size: 32px;
    font-weight: 100;
    text-transform: capitalize;
    line-height: 45px;
}

.footer-content p{
    max-width: 1000px;
    line-height: 20px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials svg {
    padding-top: 10px;
    fill: #47434B;
}

.socials svg:hover{
    fill: #fff;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
}

.footer-bottom a{
    color: #47434B;
}

.footer-bottom p a:hover{
    color: #fff;
}