body, html{
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

html ::placeholder{
    color: #a0a0a0;
}

.page{
    height: 100vh;
    background-color: #141d1e;
    font-family: Arial ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #333;
}

.image-container{
    display: flex;
    max-width: 30%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

img{
    max-width: 100%;
    border-radius: 50%;
}

.searchBox{
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    cursor: pointer;
    padding: 10px 20px;
    background: #1a141e;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    fill: #a0a0a0;
}

.searchBox input{
    width: 250px;
    margin: auto;
    height: 20px;
    outline: none;
    border: none;
    font-size: 18px;
    background: transparent;
}

.searchBox input{
    color: #ffffff;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Open Sans";
    background-color: #1E141D;
    color: #A3A1A5;
    margin-top: auto;
}

.footer-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A141E;
}

.footer-content h3{
    font-size: 32px;
    font-weight: 100;
    text-transform: capitalize;
    margin: 5px 0;
}

.footer-content p{
    font-size: 14px;
    margin: 5px 0;
}

.link-image{
    font-size: 0;
}

.link-image:hover, .link-text:hover{
    fill: #fff;
    color: #fff;
}

.footer-bottom{
    font-size: 14px;
    word-spacing: 2px;
}

.link-text, .link-image{
    color: #47434B;
    fill: #47434B;
    text-transform: uppercase;
    text-decoration: none;
}

.promptSearchResult{
    max-height: 20px;
}

li{
    list-style-type: none;
    font-size: 16px;
    width: 200px;
    text-transform: capitalize;
    color: yellowgreen;
    margin-left: 35px;
}

.darkening:hover{
    cursor: pointer;
    filter: brightness(0.5);
}

.basicInformationCharacterResult{
    color: #fff;
}

.visibleCharactersResult{
    color: yellowgreen;
}

.invisibleCharactersResult{
    color: aquamarine;
}

.invisibleCharactersResultTable{
    display: grid;
    width: 500px;
    grid-template-columns: 40% 10% 25% 25%;
    gap: 5px;
    text-transform: capitalize;
    border-bottom: 1px dotted yellow;
}