.accordion-button {
  padding: 10px 20px;
}

.accordion-body {
  padding: 10px 15px;
  width: auto;
}

.col-header {
  max-width: 60px;
  padding: 0;
  margin-left: 5px;
}

.col-value {
  font-size: 10px;
  min-width: 60px;
  max-width: 60px;
  padding: 0;
  margin-left: 5px;
}

.character-link {
  color: rgb(25, 135, 84);
  font-weight: 400;
  cursor: pointer;  
  text-decoration: underline;
}

.character-link:hover {
  color: #ffc107;
}

.logo {
  cursor: pointer;
}

.logo :hover{
  /* transition: filter 0.5s ease; */
  filter: brightness(1.1);
}

.centerPosition{
  transition: transform 1.5s ease;
  transform: translateX(200%) scale(3);
}

.targetPosition{
  transition: transform 1.5s ease;
  transform: translateX(0%) scale(1);
}

.fadeOut {
  transition: opacity 0.5s;
  opacity: 0;
}

.fadeIn {
  transition: opacity 0.5s ease 1s;
  opacity: 1;
}
