.accordion-button {
  padding: 5px 20px;
  font-size: 14px;
}

.accordion-body {
  padding: 5px 15px;
  font-size: 14px;
  width: auto;
}

.col-header {
  max-width: 60px;
  padding: 0;
  margin-left: 5px;
}

.col-value {
  font-size: 10px;
  min-width: 60px;
  max-width: 60px;
  padding: 0;
  margin-left: 5px;
}

.character-link {
  color: rgb(25, 135, 84);
  font-weight: 400;
  cursor: pointer;  
  text-decoration: underline;
}

.character-link:hover {
  color: #ffc107;
}

.logo {
  cursor: pointer;
  z-index: 999;
}

.logo:hover{
  filter: brightness(1.2);
}

.centerPosition{
  transition: transform 1.5s ease;
  transform: translateX(255%) scale(2);
}

.targetPosition{
  transition: transform 1.5s ease;
  transform: translateX(0%) scale(1);
}

.fadeOut {
  transition: opacity 0.5s, transform 0.5s ease 1s;
  opacity: 0;
  transform: scale(0);
}

.fadeIn {
  transition: opacity 0.5s ease 1s;
  opacity: 1;
}

.title, .subtitle {
  color: #b49566;
}

.absoluteCenter {
  position: absolute;
  top: 57%;
  left: 50%;
}

.transform-50 {
  transform: translate(-50%);
}

.title {
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.subtitle {
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}