.accordion-button {
  padding: 10px 20px;
}

.accordion-body {
  padding: 10px 15px;
  width: auto;
}

.col-header {
  max-width: 60px;
  padding: 0;
  margin-left: 5px;
}

.col-value {
  font-size: 10px;
  min-width: 60px;
  max-width: 60px;
  padding: 0;
  margin-left: 5px;
}

.character-link {
  color: rgb(25, 135, 84);
  font-weight: 400;
  cursor: pointer;  
  text-decoration: underline;
}

.character-link:hover {
  color: #ffc107;
}
